* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F1F1F1;
}

// login forms start
.login-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  max-width: 300px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: white;
}

.login-form .register-link, .login-form .login-link {
  text-decoration: none;
}

.sign-register-title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  border-radius: 10px 10px 0px 0px;
  max-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(57, 60, 61);
  color: white;
  margin-bottom: 0px;
  font-size: 20px;
}

.form-input {
  margin-bottom: 10px;
}
.form-input .form-control {
  /* border-radius: 4px; */
  border-top: none;
  border-left: none;
  border-right:none;
  padding: 6px 12px;
}

.login-button, .register-button {
  margin-bottom:  10px;
}
// login forms ends

// header bar starts
.header-bar-container {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
  padding: 10px 25px 10px 25px;
  color: white;
  background-color: rgb(57, 60, 61);
}

.header-bar {
  max-width: 1240px;
  margin: auto;
}

.header-bar-container .name {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  display: inline;
}

.header-bar-container .button {
  display: inline;
  float: right;
}
// header bar ends

// landing page starts
.home {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.home-title {
  align-content: center;
}

.login-form label {
  text-align: left;
}
// land page ends

.dashboard {
  max-width: 1240px;
  margin: auto;
}

.main-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1240px;
  min-height: 800px;

  .nav-bar {
    max-width: 250px;
    min-width: 250px;
    border: 1px solid rgb(57, 60, 61);
    flex: 1;
    margin-right: 20px;
  }
  .nav-menu ul {
    list-style: none;
  }
  .dashboard {
    margin: 0;
    flex: 4;
    border: 1px solid rgb(57, 60, 61);
    min-height: 800px;
  }
}

.card-input-form {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: white;
  max-width: 400px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 15px;
  h2 {
    margin: auto;
    padding-bottom: 20px;
  }
  div {
    padding: 2px 0px;
  }
  .sport-and-year {
    display: flex;
    justify-content: center;
    .year-label {
      padding-left: 15px;
    }
  }
  
  .player-and-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    // background: lightseagreen;
    .player-name, .card-details, .brand {
      width: 325px;
    }
  }
  .sale-date, .purchase-date, .sale-price, .purchase-price, .listed-on, .purchased-from {
    width: 150px;
    clear: both;
  }
  .purchase-sold-container {
    display: flex;
    // background: pink;
    max-width: 400px;
    flex-wrap: wrap;
    margin: auto;
    .purchase-container, .sold-container {
      flex: 1;
      flex-wrap: wrap;
      padding: 0px 10px;
    }
  }
  .card-attributes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    padding: 10px 0px 10px 30px;
    // background: lightcyan;
    margin: auto;
    .column {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
  .form-button-container {
    margin: auto;
    button {
      padding: 6px 20px;
      margin: 10px 25px 0px 25px;
      border: 1px solid lightgray;
      background-color: white;
      border-radius: 5px;
      font-weight: bold;
    }
    .form-submit-button-enabled:hover, .form-clear-button-enabled:hover {
      cursor: pointer;
    }
    .form-submit-button-enabled {
      background-color: rgb(0, 211, 0);
      border: 1px solid rgb(0, 131, 0);
      border-radius: 5px;
      color: white;
    }
    .form-clear-button-enabled {
      background-color: rgb(255, 66, 66);
      border: 1px solid rgb(177, 0, 0);
      border-radius: 5px;
      color: white;
    }
  }
  .card-input-form-warning, .card-input-form-error {
    display: inline;
    color: red;
    // font-weight: bold;
  }
}
