* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F1F1F1;
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  max-width: 300px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: white;
}

.login-form .register-link, .login-form .login-link {
  text-decoration: none;
}

.sign-register-title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  border-radius: 10px 10px 0px 0px;
  max-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #393c3d;
  color: white;
  margin-bottom: 0px;
  font-size: 20px;
}

.form-input {
  margin-bottom: 10px;
}

.form-input .form-control {
  /* border-radius: 4px; */
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 6px 12px;
}

.login-button, .register-button {
  margin-bottom: 10px;
}

.header-bar-container {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
  padding: 10px 25px 10px 25px;
  color: white;
  background-color: #393c3d;
}

.header-bar {
  max-width: 1240px;
  margin: auto;
}

.header-bar-container .name {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  display: inline;
}

.header-bar-container .button {
  display: inline;
  float: right;
}

.home {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.home-title {
  align-content: center;
}

.login-form label {
  text-align: left;
}

.dashboard {
  max-width: 1240px;
  margin: auto;
}

.main-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1240px;
  min-height: 800px;
}
.main-container .nav-bar {
  max-width: 250px;
  min-width: 250px;
  border: 1px solid #393c3d;
  flex: 1;
  margin-right: 20px;
}
.main-container .nav-menu ul {
  list-style: none;
}
.main-container .dashboard {
  margin: 0;
  flex: 4;
  border: 1px solid #393c3d;
  min-height: 800px;
}

.card-input-form {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: white;
  max-width: 400px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 15px;
}
.card-input-form h2 {
  margin: auto;
  padding-bottom: 20px;
}
.card-input-form div {
  padding: 2px 0px;
}
.card-input-form .sport-and-year {
  display: flex;
  justify-content: center;
}
.card-input-form .sport-and-year .year-label {
  padding-left: 15px;
}
.card-input-form .player-and-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}
.card-input-form .player-and-details .player-name, .card-input-form .player-and-details .card-details, .card-input-form .player-and-details .brand {
  width: 325px;
}
.card-input-form .sale-date, .card-input-form .purchase-date, .card-input-form .sale-price, .card-input-form .purchase-price, .card-input-form .listed-on, .card-input-form .purchased-from {
  width: 150px;
  clear: both;
}
.card-input-form .purchase-sold-container {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  margin: auto;
}
.card-input-form .purchase-sold-container .purchase-container, .card-input-form .purchase-sold-container .sold-container {
  flex: 1;
  flex-wrap: wrap;
  padding: 0px 10px;
}
.card-input-form .card-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
  padding: 10px 0px 10px 30px;
  margin: auto;
}
.card-input-form .card-attributes .column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-input-form .form-button-container {
  margin: auto;
}
.card-input-form .form-button-container button {
  padding: 6px 20px;
  margin: 10px 25px 0px 25px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
}
.card-input-form .form-button-container .form-submit-button-enabled:hover, .card-input-form .form-button-container .form-clear-button-enabled:hover {
  cursor: pointer;
}
.card-input-form .form-button-container .form-submit-button-enabled {
  background-color: #00d300;
  border: 1px solid #008300;
  border-radius: 5px;
  color: white;
}
.card-input-form .form-button-container .form-clear-button-enabled {
  background-color: #ff4242;
  border: 1px solid #b10000;
  border-radius: 5px;
  color: white;
}
.card-input-form .card-input-form-warning, .card-input-form .card-input-form-error {
  display: inline;
  color: red;
}

/*# sourceMappingURL=styles.css.map */
