* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F1F1F1;
}

// login forms start
.login-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  max-width: 300px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: white;
}

.login-form .register-link, .login-form .login-link {
  text-decoration: none;
}

.sign-register-title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  border-radius: 10px 10px 0px 0px;
  max-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(57, 60, 61);
  color: white;
  margin-bottom: 0px;
  font-size: 20px;
}

.form-input {
  margin-bottom: 10px;
}
.form-input .form-control {
  /* border-radius: 4px; */
  border-top: none;
  border-left: none;
  border-right:none;
  padding: 6px 12px;
}

.login-button, .register-button {
  margin-bottom:  10px;
}
// login forms ends

// header bar starts
.header-bar-container {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
  padding: 10px 25px 10px 25px;
  color: white;
  background-color: rgb(57, 60, 61);
}

.header-bar {
  max-width: 1240px;
  margin: auto;
}

.header-bar-container .name {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  display: inline;
}

.header-bar-container .button {
  display: inline;
  float: right;
}
// header bar ends

// landing page starts
.home {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.home-title {
  align-content: center;
}

.login-form label {
  text-align: left;
}
// land page ends

.dashboard {
  max-width: 1240px;
  margin: auto;
}

.main-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1240px;
  min-height: 800px;

  .nav-bar {
    max-width: 250px;
    min-width: 250px;
    border: 1px solid rgb(57, 60, 61);
    flex: 1;
    margin-right: 20px;
  }
  .nav-menu ul {
    list-style: none;
  }
  .dashboard {
    margin: 0;
    flex: 4;
    border: 1px solid rgb(57, 60, 61);
    min-height: 800px;
  }
}

.card-input-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  div {
    padding: 2.5px 0px;
  }
  label {
    margin: 0px 15px 0px 0px;
  }
  .card-details {
    max-width: 400px;
  }
  .card-attributes, .sport-and-year, .player-and-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}